
*{
    margin:0;
    padding:0;
}
header
{
    background-color:palegreen;
    height:30px;
    padding-top: 5px;
 }

nav
{
    display:flex;
    justify-content: space-around;
   
}
nav a
{
    text-decoration: none;
    
    
}
#image-container{
    height: 300px;
    width: 1000px;
    border:2px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
}
#box_container{
    height: 300px;
    width: 500px;
    border:2px solid red;
    display:flex;
    justify-content: space-around;


}
.box{
    height: 50px;
    width: 50px;
    border:2px solid black;

}
#box2{
    flex-grow: 1;
    flex-shrink: 1;
}

#media_box {
    height: 50px;
    width: 50px;
    background-color: aquamarine;
    border: 2px solid black;
}

/* Responsive behavior */
@media screen and (min-width: 400px) {
    #media_box {
        background-color: blue;
    }
}
@media screen and (min-width: 200px) and (max-width:300px){
    #media_box {
        background-color:red;
    }
}